body {
  position: relative;
  color: black;
  height: 100vh;
  background:transparent;
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: auto;
  -webkit-app-region: no-drag; 
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: black;
}

.hoverWhite:hover {
    stroke:white;
}

.hoverWhite:hover {
    stroke:black;
}

.hoverOpaque {
  cursor: pointer;
  opacity: 0.8;
}

.hoverOpaque:hover {
    cursor: pointer;
  opacity: 1
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: black;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


.ui.statistics.tom {
  /*font-size: 3vw;*/
  /*font-size: 2.5vw;*/
  /*background-color:rgba(0,0,0,0.7);*/
  /*-webkit-font-smoothing: antialiased;*/

     /*-webkit-text-stroke-width: 0.5px;*/
   /*-webkit-text-stroke-color: black;*/
 padding:0px 0px 0px 0px;
   margin: 0px;
   opacity:0.7;
}

.statistic.tom .value {
  font-size:4vw !important;
  margin-left:10px;
  text-transform: none !important;
}

.statistic.tom .label {
  font-size:2vw !important;
  display:none;
}



.ui.statistic, .statistic.tom {
  padding:0px 0px 0px 0px;
  font-size: 2.5vw !important;
  margin-bottom: 2px !important;
  margin-right: 2px !important;
  margin-left:3px !important;
}

.blackTransparentBg {
    background-color:rgba(0,0,0,1);

}